body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;
    gap: var(--space-3);
    padding: var(--space-4);
}

main img {
    width: 8rem;
    height: auto;
}